body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: #f7faf9;
  color: #174a5b;
}

/* 로고 */
.main-header {
  background: linear-gradient(180deg, #3bb4c1 0%, #40e0d0 100%);
  padding: 3rem 2rem;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  flex-wrap: wrap;
}

.logo {
  width: 450px;
  height: auto;
}

/* about 섹션 */
.about {
  max-width: 900px;
  margin: 3rem auto 0 auto;
  padding: 2rem 2rem;
  background: white;
  border-radius: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

h2 {
  color: #3bb4c1;
  font-size: 1.9rem;
  margin-bottom: 2.5;
  text-align: center;
}

p {
  line-height: 1.7;
  color: #345;
  text-align: center;
}

/* 버튼 섹션 */
.tests {
  margin-top: 2rem;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}
button {
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #3bb4c1, #40e0d0);
  color: #ffffff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}
button:hover {
  background-color: #2f9ca6;
  transform: translateY(-2px);
}
